## Code in cities

I wanted to get some sense of the geography of github. It only needs to be approximate, so I'm using actor_location to do this

In [10]:
%load_ext autoreload
%autoreload 2
import sys
sys.path.append('/home/mackenza/metacommunities/data_analysis/github_data_infrastructures/')
sys.path.append('../..')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [21]:
# import github_api_data as gad
import google_bigquery_access as gba
import bq
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn
from ggplot import *

In [22]:
client = bq.Client.Get()

query = "select * from metacommunities:github.actor_location"

In [24]:
fields, data = client.ReadSchemaAndRows(client.Query(query)['configuration']['query']['destinationTable'], max_rows = 100000)
colnames = [f['name'] for f in fields]

AccessTokenRefreshError: invalid_grant

In [16]:
locations_df = pd.DataFrame(data, columns = colnames)
locations_df.shape

NameError: name 'data' is not defined

In [25]:
locations_df['location_count'] = locations_df.location_count.astype('int')
locations_df.sort('location_count', ascending=False)

NameError: name 'locations_df' is not defined

In [26]:
# clean up location names
locations_df['locations_full'] = locations_df.location.str.lower().str.strip().str.replace('$ ', 'na').str.encode('utf8').str.replace('[<>=().;/"]', '').str.split(', ')

# drop empty values
locs = locations_df.dropna()
locs.shape

NameError: name 'locations_df' is not defined

In [99]:
# create master list of places that mixes countries, cities, states, etc
place_list = [i for l in locs.locations_full.tolist() for i in l]

In [101]:
place_set = list(set(sort(place_list)))

In [81]:
locs.ix[locs['locations_full'].map(lambda x: 'hong kong' in x)]

,location,location_count,locations_full
780,Hong Kong,139755,[hong kong]
1431,"Hong Kong, China",3053,"[hong kong, china]"
6489,"Hong Kong, Vancouver, Sydney, London",12,"[hong kong, vancouver, sydney, london]"
10993,hong kong,338,[hong kong]
11748,"Kowloon, Hong Kong",307,"[kowloon, hong kong]"
13356,"Discovery Bay, Hong Kong",389,"[discovery bay, hong kong]"
14667,"Vancouver, Hong Kong, Malaysia",683,"[vancouver, hong kong, malaysia]"
18551,"Jordan, Kowloon, Hong Kong",173,"[jordan, kowloon, hong kong]"
27928,"London / St Albans, England or Kowloon, Hong K...",195,"[london st albans, england or kowloon, hong k..."
28472,"London / St Albans, England or Kowloon, Hong Kong",234,"[london st albans, england or kowloon, hong k..."
29831,"Hong Kong, Manila",37,"[hong kong, manila]"
32242,"Kowloon City, Hong Kong",99,"[kowloon city, hong kong]"
32599,Hong kong,29,[hong kong]
33000,"Hong Kong, PRC",32,"[hong kong, prc]"
37680,"Tokyo, Hong Kong, Singapore",68,"[tokyo, hong kong, singapore]"
38111,"Hong Kong, Beijing",40,"[hong kong, beijing]"
40266,HONG KONG,153,[hong kong]
40878,"Hong Kong, Hong Kong, China",50,"[hong kong, hong kong, china]"
44183,"Japan, Hong Kong",53,"[japan, hong kong]"
44362,"Hong Kong, Earth",36,"[hong kong, earth]"
47110,"Hong Kong, Hong Kong",69,"[hong kong, hong kong]"
49165,"London, Hong Kong",19,"[london, hong kong]"
52676,"Singapore, Hong Kong",3,"[singapore, hong kong]"
54001,"Hong Kong, SAR",5,"[hong kong, sar]"
54869,"Hong Kong, New York City",2,"[hong kong, new york city]"
62715,"China, Hong Kong",1,"[china, hong kong]"
66808,"Hong Kong, Tokyo",5,"[hong kong, tokyo]"
67673,"Pokfulam, Hong Kong",1,"[pokfulam, hong kong]"
71459,"Beijing, Tokyo, Hong Kong",2,"[beijing, tokyo, hong kong]"